asgiref==3.7.2

Flask==3.0.3
Flask-Cors==5.0.0


MarkupSafe==2.1.5
packaging==23.2
Pillow==10.1.0


vine==5.1.0
Werkzeug==3.0.4
whitenoise==6.6.0

# TODO: versions

# put here libraries that are dependencies


# probably will be used
psycopg
urllib3
Hypercorn
hyperframe

# actually used
ipython
requests